[data-bs-theme=dark] {
    .metrics-bar {
        background-color: #52595e;
        height: 28px;
    }
    .metrics-bar .metric:hover dl dt {
        border-left: 3px solid #353b3e;
        padding-left: 7px;
    }
    .domain.metrics-bar {
        border-bottom: 1px solid #353b3e;
        background-color: #24282b;
        box-shadow: none;
    }
    .domain.metrics-bar .title {
        color: #677278;
    }
    .domain.metrics-bar .metric {
        border-left: 1px solid #52595e;
    }
    .instance.metrics-bar {
        background-color: #2a2f33;
    }
    .control-bar {
        background-color: #3b3f42;
        color: #eee;
        box-shadow: 0 6px 10px -10px rgba(50, 50, 50, 0.45);
    }
    .control-bar .options > .bi {
        color: #d6e5e4;
    }
    .control-bar .options .btn-group .btn {
        background-color: #313639;
        color: #e1e1e1;
    }
    .control-bar .options .btn-group .btn.on {
        background-color: #1a272e;
        color: #fff;
    }
    .event-box .title-bar {
        background-color: #24272e;
        color: #eee;
        box-shadow: none;
    }
    .event-box .title-bar.on {
        background-color: #709185;
    }
    .track-box {
        background-color: #171624;;
    }
    .track-box .track-stack {
        background-color: #1d0c17;
    }
    .track-box .bullet {
        background: linear-gradient(to right, rgba(9, 17, 39, 0) 25%, rgba(13, 168, 44, 0.66) 100%);
    }
    .track-box .bullet.arrive {
        background-color: #0d7aaa;
        border: 1px solid #086893;
    }
    .track-box .bullet.error {
        background: linear-gradient(to right, rgba(9, 17, 39, 0) 27%, rgb(255, 0, 0) 100%);
    }
    .track-box .bullet.error.arrive {
        background-color: #a51e1e;
        border: 1px solid #f34d4d;
    }
    .track-stack .activity-status-plate .bottom-plate-left {
        background-color: #3c201f;
        color: #eee;
    }
    .track-stack .activity-status-plate .bottom-plate-right {
        background-color: #3c201f;
        color: #eee;
    }
    .track-stack .activity-status {
        color: #6471a1;
    }
    .track-stack .activity-status p.interim {
        color: #1f8c45;
    }
    .track-stack .activity-status p.interim .errors {
        color: #fc2184;
    }
    .track-stack .activity-status p.interim .separator {
        color: #936e86;
    }
    .track-stack .activity-status .sampling-timer-bar {
        background-color: #9b6485;
    }
    .visual-box {
        background-color: #000;
        box-shadow: 0 8px 10px -10px rgba(50, 50, 50, 0.33);
    }
    .visual-box .chart-box {
        box-shadow: 0 6px 10px -10px rgba(50, 50, 50, 0.45);
    }
    .visual-box .chart-box .chart .reset-zoom {
        background-color: #bbb;
        color: #fff;
    }
    .session-box .panel {
        border: 1px solid #393c3e;
        border-bottom: 2px solid #393c3e;
        background-color: #1a252d;
    }
    .session-box .panel.status .knob {
        background-color: #567181;
    }
    .session-box .panel.ground {
        background-color: #191c1d;
    }
    .session-box ul.sessions li {
        list-style-type: none;
        display: inline-table;
        padding: 0;
        margin-right: 5px;
        margin-bottom: 5px;
        height: 25px;
        line-height: 25px;
        border-radius: 5px;
        background-color: #fff;
    }
    .session-box ul.sessions li.inactive {
        opacity: .475;
    }
    .session-box ul.sessions li.hidden {
        display: none;
    }
    .session-box ul.sessions li .count {
        background-color: #8396a2;
        border-left: 3px solid #009400;
    }
    .session-box ul.sessions li .count.active {
        background-color: #02b502;
    }
    .session-box ul.sessions li .count.counting {
        color: #fff;
    }
    .session-box ul.sessions li.inactive .count.counting {
        border-left: 3px solid #090909;
        color: #fff;
    }
    .session-box ul.sessions li.inactive .count.active {
        border-left: 3px solid #009400;
    }
    .session-box ul.sessions li .username {
        background-color: #525552;
    }
    .session-box ul.sessions li .detail {
        border-top: 1px solid #638499;
    }
    .session-box ul.sessions li.designated {
        background-color: #fff;
        border: 1px solid #748fa0;
    }
    .session-box ul.sessions li .detail p:first-child {
        background-color: #517386;
        color: #fff;
    }
    .console-box .status-bar {
        background-color: #677278;
        color: #eee;
        box-shadow: -20px 20px 20px -20px #394e59 inset;
    }
    .console-box .status-bar.on {
        background-color: #709185;
    }
    .console-box .status-bar a {
        color: #fff;
    }
    .console-box .status-bar a:hover {
        color: red;
    }
    .console-box .status-bar a.on {
        color: #980000;
    }
    .console-box .status-bar .tailing-switch .tailing-status::after {
        background: #f1f1f1;
    }
    .console-box .status-bar .tailing-switch .tailing-status.on {
        background-color: #39aa56;
    }
    .console-box .console {
        color: #f1f1f1;
        background-color: #222;
        box-shadow: inset -20px 20px 60px -20px #10131b;
    }
    .console-box .console:hover {
        box-shadow: inset 0 0 6px 3px #2d4757;
    }
    .console-box .console p {
        color: #e1e1e1;
    }
    .console-box .console p:hover {
        color: #fafafa;
        background-color: #333;
    }
    .console-box .console p.event {
        border: 1px solid rgba(92, 218, 173, 0.53);
        color: #fff;
        background-color: #333;
    }
    .console-box .console p.event.error {
        background-color: #3e132d;
        border: 1px solid #db7093;
        color: #fff;
    }
    canvas {
        filter: invert(1) hue-rotate(180deg);
    }
}
